[submodule "lib/VFD_MN12832JC"]
	path = lib/VFD_MN12832JC
	url = https://github.com/mariosgit/VFD_MN12832JC.git
[submodule "lib/mbLog"]
	path = lib/mbLog
	url = https://github.com/mariosgit/mbLog.git
[submodule "lib/VFD_MN12864K"]
	path = lib/VFD_MN12864K
	url = https://github.com/mariosgit/VFD_MN12864K.git
[submodule "lib/VFD_MN12832L"]
	path = lib/VFD_MN12832L
	url = https://github.com/mariosgit/VFD_MN12832L.git
[submodule "lib/encoder-bits"]
	path = lib/encoder-bits
	url = https://github.com/mariosgit/encoder-bits.git
[submodule "lib/SigmaDSP-Ctrl"]
	path = lib/SigmaDSP-Ctrl
	url = https://github.com/mariosgit/SigmaDSP-Ctrl.git
